.newsLetterSignup {
  display: grid;
  gap: 2rem;
}

.errorMessage {
  color: hsl(var(--clr-red));
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  & input {
    flex-grow: 1;
  }
}

.inputBtnWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  & button {
    width: max-content;
  }
}

@media screen and (min-width: 900px) {
  .newsLetterSignup {
    grid-template-columns: 1fr 1fr;
  }
}
