.link {
  color: hsl(var(--clr-green));

  &:hover {
    color: hsl(var(--clr-white)) !important;
  }

  &:visited {
    color: hsl(var(--clr-green));
  }
}

.nav {
  color: hsl(var(--clr-white));
  position: relative;

  &:visited {
    color: hsl(var(--clr-white));
  }

  &:hover {
    color: hsl(var(--clr-green));
    cursor: pointer;
  }
}

.active {
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: hsl(var(--clr-green));

    width: 100%;
    bottom: -10px;
    left: 0;
  }
}

.iconEnd {
  margin-left: 5px;
}

.dropdownWrapper {
  display: inline-block;
  position: relative;
}

.subLinks {
  background: hsl(var(--clr-light));
  // background-color: red;
  z-index: 300;
  border-radius: 0px 0px 2px 2px;
  padding: 1rem;
  position: absolute;
  top: 30px;
  font-size: var(--fs-200);
  & li {
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }
  // width: 100%;
  & ul {
    margin: 0;
    padding: 0;
  }
  & ul li {
    list-style: none;
  }
}
