.TypeOfTrader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  padding-bottom: 0;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  // padding: 2rem;

  & .typeCard {
    cursor: pointer;
    padding-top: 2rem;
    opacity: 0.6;

    & .type {
      margin-top: auto;
    }

    &.selected {
      background-color: hsl(var(--clr-light));
      border-radius: 8px 8px 8px 8px;
      opacity: 1;

      p {
        font-weight: bold;
      }

      & .selectedLabel {
        // border-bottom: 2px solid hsl(var(--clr-green));
      }

      & .badges {
        opacity: 1;
      }
    }
    display: flex;
    flex-direction: column;

    & .badges {
      padding: 2rem;
      padding-bottom: 1rem;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      opacity: 0.6;
    }
    & p {
      padding: 0rem 1rem 1rem 1rem;
    }
  }
}

.serviceRows {
  max-width: 1200px;
  margin: 0 auto;
  // background: red;
  padding-top: 2rem !important;
  padding-bottom: 2rem;
  background: hsl(var(--clr-light));
}

.serviceCard {
  margin-bottom: 2rem;
}

.serviceItem {
  border: 1px solid rgba(238, 238, 238, 0.2);
  background: hsl(var(--clr-dark));
  border-radius: 8px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .TypeOfTrader {
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem;

    & .typeCard {
      &.selected {
        background-color: hsl(var(--clr-light));
        border-radius: 8px 8px 0px 0px;
      }
    }
  }
  .serviceItem {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .serviceRows {
    padding: 0;
  }
}
