.productCard {
  // background: hsl(var(--clr-light));
  max-width: 400px;
  padding: 1rem;
  background: url("/images/bg_card.png");
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 3px 3px 4px rgba(107, 107, 107, 0.1);
  border: 1px solid rgba(107, 107, 107, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;

  .logoName {
    position: absolute;
    right: 10px;
    top: 0px;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    color: hsl(var(--clr-accent) / 0.55);
  }

  .header {
    & img {
      width: 50px;
      height: auto;
    }
  }

  .title {
    padding: 1.5rem 0;
    max-width: 75%;
    height: 100%;
  }

  .stats {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: auto;

    .statBox {
      flex-grow: 1;
    }

    .bar {
      width: 100%;
      height: 25px;
      border-radius: 20px;
      margin: 0.5rem 0;
      position: relative;
      box-shadow: inset 0 0 0 4px hsl(var(--clr-green));

      .progressBar {
        content: "";
        position: absolute;
        background: hsl(var(--clr-green));
        bottom: 0;
        left: 0;
        top: 0;
        bottom: 0;
        // right: 50%;
        border-radius: 20px;
        border: 3px solid hsl(var(--clr-green));
      }
    }

    .barLabels {
      display: flex;
      justify-content: space-between;
    }
  }
}
