.infoContainer {
  padding: 2rem;
  border-radius: 6px;

  & p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.cLeft {
  text-align: center;
  ul {
    margin-top: 4rem;
    text-align: left;
  }
}

.cRight {
  margin-top: 4rem;
}

.divider {
  display: inline-block;
}

.twoColumn {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'left'
    'right';

  justify-content: center;

  gap: 3rem;

  .cLeft {
    grid-area: left;

    button {
      margin-top: 3rem;
    }
  }

  .cRight {
    grid-area: right;
  }
}

.experienceLevels {
  & > div {
    margin: 4rem 0;
    max-width: 300px;
  }
}

.productCards {
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: 1fr;
}

.centerOnSmall {
  text-align: center;
  margin: 0 auto;
}

.signUpSection {
  background: hsl(var(--clr-light));
}

@media screen and (min-width: 900px) {
  .twoColumn {
    grid-template-areas: 'left right';

    .cLeft {
      margin-top: 1rem;
      text-align: left;
    }

    .cRight {
      margin-top: 0;
    }
  }

  .experienceLevels {
    display: flex;
    & > div {
      margin: 3rem 2rem;
    }
  }

  .centerOnSmall {
    text-align: left;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .productCards {
    grid-template-columns: 1fr 1fr;
  }
}
