.infoContainer {
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  padding: 2rem 0;

  & > div {
    border-radius: 6px;
    padding: 2rem;
    // background: red;
    margin: 0 20px;
    h4 {
      margin-bottom: 2rem;
    }
  }

  & p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.cLeft {
  text-align: center;
  ul {
    margin-top: 4rem;
    text-align: left;
  }
}

.cRight {
  margin-top: 4rem;

  &.testimonialWrappper {
    max-width: 600px;
  }
}

.twoColumn {
  display: grid;
  width: 100%;
  // grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'left'
    'right';

  justify-content: center;
  gap: 3rem;

  .cLeft {
    grid-area: left;

    button {
      margin-top: 3rem;
    }
  }

  .cRight {
    grid-area: right;
  }
}

.experienceLevels {
  & > div {
    margin: 4rem 0;
    max-width: 300px;
  }
}

.productCards {
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.centerOnSmall {
  text-align: center;
  margin: 0 auto;
}

.signUpSection {
  // background: hsl(var(--clr-light));
}

@media screen and (min-width: 900px) {
  .twoColumn {
    grid-template-areas: 'left right';

    .cLeft {
      margin-top: 1rem;
      text-align: left;
    }

    .cRight {
      margin-top: 0;
    }
  }

  .experienceLevels {
    display: flex;
    & > div {
      margin: 3rem 2rem;
    }
  }

  .centerOnSmall {
    text-align: left;
    margin: 0;
  }

  .infoContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .productCards {
    grid-template-columns: 1fr 1fr;
  }
}

.embla {
  position: relative;
  // padding: 20px;
  // max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
