.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 2fr;
  margin: 2rem;
  max-width: 80vw;
}

.formGrid {
  display: grid;
  grid-column: 1/2;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

.productGrid {
  display: grid;
  grid-column: 2/2;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

.label {
  padding: 1rem;
}

.input {
  margin: 0.5rem;
}

.cardInputs {
  text-align: center;
}

.cardInput {
  margin: 0.5rem;
  max-width: 70px;
}
