.ulList {
  list-style: none;
  margin: 0;
  padding-left: 1rem;

  & li::before {
    content: "\2022";
    color: hsl(var(--clr-green));
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
