.productHeader {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-items: center;
  margin-top: 2rem;
  gap: 1rem;
  padding: 2rem;
  border-radius: 6px;

  .detailHeader {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    & ~ p {
      margin-left: 0.5rem;
    }
  }

  .controls {
    // margin-top: 2rem !important;
    // max-width: 400px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    // background: red;

    & button {
      margin: 0 auto;
    }

    // & a:nth-child(2) {
    //   margin-top: 3rem;
    //   padding-top: 100px;
    // }
  }
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productInfoGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media screen and (min-width: 900px) {
  .productHeader {
    grid-template-columns: auto 1fr;
    gap: 4rem;

    .controls {
      margin-top: auto !important;
    }
  }

  .productInfoGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
