.productHeader {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-items: center;
  margin-top: 2rem;
  gap: 4rem;
  padding: 2rem;
  border-radius: 6px;

  .detailHeader {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    & ~ p {
      margin-left: 0.5rem;
    }
  }

  .controls {
    margin-top: 2rem !important;

    & a:nth-child(2) {
      margin-top: 3rem;
      padding-top: 100px;
    }
  }
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 900px) {
  .productHeader {
    grid-template-columns: auto 1fr 1fr;

    .controls {
      margin-top: auto !important;
    }
  }
}
