.mobileMenu {
  position: fixed;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  background-color: hsl(var(--clr-dark));
  padding: 2rem 3rem;
  position: absolute;
  right: 0;
  top: 5rem;
  text-align: center;
  overflow-y: scroll;
}

.link {
  cursor: pointer;
  margin-bottom: 2rem;

  &:hover {
    color: hsl(var(--clr-green));
  }
}

.view {
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: hsl(var(--clr-green));

  &:hover {
    color: white;
  }
}

.dropdownWrapper {
  display: inline-block;
  position: relative;
}

.subLinks {
  // background: rgb(17, 17, 17);
  display: flex;
  z-index: 300;
  border-radius: 0px 0px 2px 2px;
  // padding: 1rem;
  // position: absolute;
  top: 30px;
  font-size: var(--fs-200);
  margin-bottom: 2rem;
  justify-content: center;
  & li {
    margin-bottom: 0.5rem;
    white-space: nowrap;
    text-align: left;
  }

  & ul {
    margin: 0;
    padding: 0;
  }
  & ul li {
    list-style: none;
  }
}

.active {
  width: min-content;
  border-bottom: 3px solid #24ae90;
  margin: 0 auto;
  margin-bottom: 2em;
}

@media (min-width: 960px) {
  .mobileMenu {
    display: none;
  }
}

@media (min-width: 500px) {
  .mobileMenu {
    top: 3rem;
  }
}

@media (max-width: 500px) {
  .mobileMenu {
    top: 3rem;
  }
  .subLinks {
    display: block;
    right: 0;
    text-align: center;

    & ul {
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    & li {
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .mobileMenu {
    top: 3rem;
  }
}
