.infoCard {
  background-color: hsl(var(--clr-dark));
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  max-width: 300px;
  align-items: center;
  gap: 2rem;
  box-shadow: 2px 2px 3px rgba(46, 46, 46, 0.164);
}
