.footer {
  padding-top: 1rem;
  margin-top: 1rem;
  background: hsl(var(--clr-light) / 0.3);

  & h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  a {
    color: hsl(var(--clr-accent) / 0.7) !important;

    &:hover {
      color: hsl(var(--clr-green)) !important;
    }
  }

  .logoName {
    font-size: clamp(16px, 12vw, var(--fs-700));
  }
}

.subLinks {
  margin-left: 1rem;
}

.linkWrapper {
  display: grid;
}

.col {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.partnersWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.linkCategory {
  display: grid;
  gap: 0.5rem;
  align-content: flex-start;
}

.socialWrapper {
  display: grid;

  & > div {
    display: flex;
    align-items: center;
    & > p {
      width: 35px;
    }
    display: flex;
  }
}

@media screen and (min-width: 400px) {
  .col {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    & h4 {
      // margin-top: 3rem;
    }
  }

  .linkWrapper {
    grid-template-columns: 1fr 1fr;

    & h4 {
      margin-top: 0rem;
    }
  }
}
