.TypeOfTrader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  padding-bottom: 0;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  // padding: 2rem;

  & .typeCard {
    cursor: pointer;

    & .type {
      margin-top: auto;
    }

    &.selected {
      background-color: hsl(var(--clr-light));
      border-radius: 8px 8px 8px 8px;

      & .badges {
        opacity: 1;
      }
    }
    display: flex;
    flex-direction: column;

    & .badges {
      padding: 2rem;
      padding-bottom: 1rem;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      opacity: 0.6;
    }
    & p {
      padding: 0rem 1rem 1rem 1rem;
    }
  }
}

.description {
  // max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  & > div {
    max-width: 1200px;
  }

  .descriptionContent {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: center;
  }
}

.productCardWrapper {
  max-width: 1200px;
  margin: 5rem auto;
}

@media screen and (min-width: 900px) {
  .TypeOfTrader {
    grid-template-columns: repeat(4, 1fr);
    padding: 0rem;

    & .typeCard {
      &.selected {
        background-color: hsl(var(--clr-light));
        border-radius: 8px 8px 0px 0px;
      }
    }
  }
}
