.productRowContainer {
  border: 1px solid rgba(238, 238, 238, 0.2);
  border-radius: 8px;
  position: relative;

  .container__wrapper {
    /* Displayed at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Size */
    height: 120px;
    width: 120px;
    z-index: 1;

    /* Hide the part of its children which is displayed outside */
    overflow: hidden;
  }

  .container__ribbon {
    /* Position */
    left: -64px;
    position: absolute;
    top: 32px;

    /* Size */
    height: 24px;
    width: 206px;

    /* Displayed diagonally */
    transform: rotate(-45deg);

    /* Background color */
    background-color: hsl(var(--clr-dark));

    /* Centerize the text content */
    text-align: center;
  }

  .header {
    // background: hsl(var(--clr-accent) / 0.1);
    display: flex;
    justify-content: flex-end;

    padding: 4px 1rem;
    border-radius: 8px 8px 0px 0px;
  }
  & .ctaRow {
    text-align: center;
    padding: 2rem;
  }

  & .productRow {
    border-radius: 4px;
    margin: 0;
  }

  & .row {
    display: grid;
    grid-template-columns: 1fr;

    align-items: flex-start;
    margin: 1rem 0rem;

    & .cell {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 1rem;

      &:not(:nth-child(1)) {
        text-align: center;
      }
    }

    .mt {
      margin-top: 20px;

      margin: 1rem 0;
      .chip {
        &:nth-child(1) {
          background: hsl(var(--clr-blue-light));
        }
        &:nth-child(2) {
          background-color: hsl(var(--clr-blue-light) / 0.45);
        }
        padding: 3px 6px;
        margin: 1rem 0;
        border-radius: 8px;
      }
    }

    & .cell:not(:first-of-type) {
      padding: 2rem;
    }
  }
}

.productInfo {
  padding: 1rem;
  margin: 0 auto;

  & .controls {
    max-width: 400px;
  }
}

.priceTag {
  background: var(--price-tag-background);
  color: #fff;

  /* Center the price */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Used to position the triangle */
  position: relative;

  /* Size */
  height: var(--price-tag-height);

  /* Spacing */
  padding: 0.25rem 0.7rem;
}

/* The triangle */
.priceTag::before {
  content: '';

  border-color: transparent var(--price-tag-background) transparent transparent;
  border-style: solid;
  border-width: calc(var(--price-tag-height) / 2)
    calc(var(--price-tag-height) / 2) calc(var(--price-tag-height) / 2) 0rem;

  /* Position */
  left: 0px;
  position: absolute;
  top: 0px;
  transform: translate(-100%, 0px);
}

/* The dot */
.priceTag::after {
  content: '';

  /* Make it like a cirle */
  background: #fff;
  border-radius: 9999rem;

  /* Position */
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-0.5rem, -50%);

  /* Size */
  height: 0.5rem;
  width: 0.5rem;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

// .swing {
//   position:relative;
// }

.swing:hover{
  // -webkit-transform-origin: top center;
  // transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  animation-duration: 1.3s;
}

.mobileTag {
  // visibility: hidden;
  display: none;
}

.tag {
  // transform: rotate(45deg);
  visibility: visible;
  margin-top: 0.5em;
  margin-left: 1.5em;
  margin-bottom: -1em;
  width: fit-content;
}

@media screen and (min-width: 900px) {
  .productRowContainer {
    & .ctaRow {
      display: none;
    }

    & .row {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 900px) {
  .mobileTag {
    display: block;
    align-items: center;
  display: flex;
  justify-content: center;
  }

  .tag {
    display: none;
  }
}

.container__wrapper {
  /* Displayed at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Size */
  height: 100px;
  width: 100px;

  /* Hide the part of its children which is displayed outside */
  overflow: hidden;
}

.container__ribbon {
  /* Position */
  left: -64px;
  position: absolute;
  top: 32px;

  /* Size */
  height: 24px;
  width: 206px;

  /* Displayed diagonally */
  transform: rotate(-45deg);

  /* Background color */
  background-color: rgba(0, 0, 0, 0.3);

  /* Centerize the text content */
  text-align: center;
}
