/* Custom properties */

:root {
  /* colors */
  --clr-dark: 210 63% 7%; // #07121d
  // --clr-light: 210 63% 10%;
  --clr-light: 210 65% 12%; // #0e2943
  --clr-blue-light: 210 43% 42%; //	#5085b9
  --clr-white: 0 0% 100%;
  --clr-accent: 0 0% 85%;
  --clr-green: 167 66% 41%; // #24ae90
  --clr-black: 0 0% 10%;

  --clr-purple: #5c3f75;
  --clr-brown: #856e55;
  --clr-green-dark: #4b754f;
  // color: rgb(17, 17, 17);
}

/* ---------- */
/* Colors */
/* ---------- */

/* background color classes */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-green {
  background-color: hsl(var(--clr-green));
}

.bg-black {
  background-color: hsl(var(--clr-black));
}

/* text color classes */
.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-accent {
  color: hsl(var(--clr-accent));
}
.text-green {
  color: hsl(var(--clr-green));
}

.hero {
  width: 100%;
  background-image: url('/images/background_2_ov.png');
  min-height: 90vh; // account for navbar height of 10vh
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & h1 {
    font-size: clamp(16px, 12vw, var(--fs-800));
  }

  & h3 {
    font-size: clamp(16px, 8vw, var(--fs-700));
  }
}
