/* -------------- */
/* CSS Reset File */
/* -------------- */

/* Box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

/*  Setup body */
body {
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}

/* Image reset styling */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Forms reset styling */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people that have animations turned off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
