/* -------------- */
/* Global CSS utility classes */
/* -------------- */

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);

  &.center {
    justify-content: center;
  }
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);

  &.center {
    justify-content: center;
  }
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 90rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
  // outline: 1px solid red;
}

.center {
  text-align: center;
}

.numbered-title {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;

  & > span {
    margin-right: 0.3em;
    font-weight: 700;
    color: hsl(var(--clr-white) / 0.3);
  }
}

.section {
  padding: 6rem 0;
}

input[type="text"] {
  background: white;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 4px 8px;
  border: 2px solid transparent;
}

input[type="text"]:focus {
  border: 2px solid hsl(var(--clr-green));
  box-shadow: 0px 0px 4px hsl(var(--clr-green));
}
