$cardWidth: 80vw;

@mixin responsiveWidth {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.BioCard:hover {
  & img {
    opacity: 1 !important;
  }
}

.BioCard {
  padding-top: 2rem;
}

.shown .imgWrapper,
.shown .Bio_img_footer {
  background-color: hsl(var(--clr-light));

  img {
    opacity: 1 !important;
    transition: opacity 0.3s ease;
  }
}

.shown .BioCard {
  background-color: hsl(var(--clr-light));
  border-radius: 8px 8px 0px 0px;
}

.Bio {
  border-radius: 6px;
  cursor: pointer;

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    height: $cardWidth;
    position: relative;
    transition: all 0.3s ease;

    @include responsiveWidth();

    & img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 8px;
      opacity: 0.5;
    }
  }

  .Bio_img_footer {
    @include responsiveWidth();
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .Bio .bioDetailsWrapper {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}
