$cardWidth: 80vw;

@mixin responsiveWidth {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.shown .imgWrapper,
.shown .Bio_img_footer {
  background-color: hsl(var(--clr-light));
}

.Bio {
  border-radius: 6px;

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    height: $cardWidth;

    @include responsiveWidth();

    & img {
      max-width: 80%;
      max-height: 80%;
      border-radius: 8px;
    }
  }

  .Bio_img_footer {
    @include responsiveWidth();
    text-align: center;
    padding-bottom: 1rem;
  }
}

.bioDetails {
  background-color: hsl(var(--clr-light));
  padding: 4rem 3rem;

  & .bioDetailsWrapper {
    display: grid;
  }

  .bioDetails_info {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .Bio .bioDetailsWrapper {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;

    .bioDetails_info {
      display: block;
    }
  }
}
