.statsBar {
  background: hsl(var(--clr-dark));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 5rem;

  & > div {
    margin: 0 3rem;
    text-align: center;
    flex: 1 1 0;
  }

  .stat {
    font-size: var(--fs-700);
    font-family: var(--ff-good);
  }
}
